.product-card-container {
  margin-left: 15%;
  overflow-y: auto;
  padding-left: 2rem;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.product-img img {
  display: inline-block;
  width: 100%;
  min-height: 9.4rem;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 3;
  border-radius: 0.5rem;
}
